i[class*="fa"] {
	pointer-events: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
/* @keyframes coloredBackground{
	0%	{ background-image: linear-gradient(to left,gold,yellow,gray,black);}
	25%	{ background-image: linear-gradient(to left,yellow,gray,black,gold);}
	50%	{ background-image: linear-gradient(to left,gray,black,gold,yellow);}
	75%	{ background-image: linear-gradient(to left,black,gold,yellow,gray);}
	100%{ background-image: linear-gradient(to left,gold,yellow,gray,black);}
} */
@keyframes backgroundPosition{
	0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 50%;}
}
#container {
	background-image: linear-gradient(to left,rgb(172, 172, 0),rgb(139, 91, 1));
	/*background-image: url("./bg.jpg");*/
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: backgroundPosition 8s ease infinite normal ;
	background-size: 400% 400%;
	/* animation: coloredBackground 1s linear 0 infinite normal ; */
}
#numpad {
	box-shadow: 0 0 5px black;
	background-image: linear-gradient(to left,black,gray,black);
	width:60%;
	padding:15px;
	border: 5px groove gold;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-evenly;
	align-items: stretch;
}
@media (max-width:600px){
	#numpad{width: 95%;}
}
#paragraph:focus {outline: none;}
#paragraph {
	border: 2px solid gold;
	background-image: linear-gradient(to bottom,rgb(125, 122, 122),white);
	/* border: 1px solid black; */
	padding: 10px;
	font-size: 5rem;
	font-weight: 600;
	height: 15vh;
	width: 100%;
	/* background-color: transparent; */
	border-radius: 10px;
}

#btns {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 1rem;
	height: 80%;
	grid-template-areas:
	"clear clear  delete equal "
		"btn7  btn8 btn9 plus"
		"btn4  btn5 btn6 minus"
		"btn1  btn2 btn3 mult "
		"btn0 btn0 dot divide";
	}
	button {
		font-family:Courier, monospace;
		font-weight: bolder;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 5px;
		border: 2px solid gold;
		background-color: rgb(251, 250, 244);
		font-size: 3.5rem;
		padding: 5px;
		height: 8rem;
		transition: background-color 50ms ease-in-out,font-size 100ms ease-in-out,color 100ms ease-in-out;
}

button:focus-visible {
	background-color: rgb(63, 61, 51);
	color: antiquewhite;
	font-size: 5rem;
	padding: 0px;
	text-shadow: 0 0 5px gold;
}
button:active{
		background-color: rgb(190, 165, 38);
	color: antiquewhite;
	font-size: 5rem;

}
